snippet main "Main function" Ab
int main(int argc, char **argv) {
	$0
}
endsnippet

snippet if "If block" Ab
if(${1:condition}) {
	$0
}
endsnippet

snippet for "For" Ab
for($1;$2;$3) {
	$0
}
endsnippet

snippet while "While block" Ab
while(${1:condition}) {

}
endsnippet

snippet dowhile "Do/While" Ab
do {
	$0
}while(${1:condition});
endsnippet

snippet switch "Switch" Ab
switch(${1:variable}) {
	$0
}
endsnippet
