snippet á "\`a" Ai
\\`a
endsnippet

snippet Á "\`A" Ai
\\`A
endsnippet

snippet é "\`e" Ai
\\`e
endsnippet

snippet É "\`E" Ai
\\`E
endsnippet

snippet í "\`i" Ai
\\`i
endsnippet

snippet Í "\`I" Ai
\\`I
endsnippet

snippet ó "\`o" Ai
\\`o
endsnippet

snippet Ó "\`O" Ai
\\`O
endsnippet

snippet ú "\`u" Ai
\\`u
endsnippet

snippet Ú "\`U" Ai
\\`U
endsnippet
