snippet -> "\rightarrow" A
\rightarrow
endsnippet

snippet <- "\leftarrow" A
\leftarrow
endsnippet

snippet <-> "\leftrightarrow" A
\leftrightarrow
endsnippet

snippet ff "fraction"
\frac{$1}{$2}$0
endsnippet
